<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<head>
    <meta charset="UTF-8">

    <meta content="width=device-width" name="viewport" id="viewport">

    <title>server-support.ru - Профессиональная поддержка Linux серверов</title>

    <link rel="icon" type="image/png" href="images/favicon_16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon_32.png" sizes="32x32">

<!--    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet"> -->
    <link href="css/fonts.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
</head>

<body>

<!--
<div style="position: absolute; background: url('scrin/Shablon Materials.png'); width: 1920px; height: 7812px; opacity: .5; top: 0; left: 50%; margin-left: -960px; z-index: -1"></div>
-->

<header class="header header-main">
    <div class="header-container">
        <div class="header-logo">
            <a href="/"><img src="images/logo.svg" alt=""></a>
        </div>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a href="#services" class="header-nav-link">Услуги</a></li>
                <li class="header-nav-item"><a href="#price" class="header-nav-link">Цены</a></li>
                <li class="header-nav-item"><a href="#about" class="header-nav-link">Клиенты</a></li>
                <li class="header-nav-item"><a href="#contacts" class="header-nav-link">Контакты</a></li>
            </ul>
            <div class="header-user">
                <a href="" class="header-login">Войти</a>
            </div>
        </nav>
        <div class="header-trigger"></div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-wrap">
            <div class="header-mobile-nav">
                <ul>
                    <li><a href="#services">Услуги</a></li>
                    <li><a href="#price">Цены</a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="header-mobile-contacts">
                <p><a href="tel:+74950183638" class="header-mobile-phone">8(495)018-36-38</a></p>
                <p><a href="mailto:admins@server-support.ru" class="header-mobile-mail">admins@server-support.ru</a></p>
                <div class="header-mobile-copyright">© 2009—2018 server-support.ru</div>
            </div>
        </div>
    </div>
</header>

<div class="header header-main header-scroll">
    <div class="header-container">
        <div class="header-logo">
            <a href="/"><img src="images/logo.svg" alt=""></a>
        </div>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a href="#services" class="header-nav-link">Услуги</a></li>
                <li class="header-nav-item"><a href="#price" class="header-nav-link">Цены</a></li>
                <li class="header-nav-item"><a href="#about" class="header-nav-link">Клиенты</a></li>
                <li class="header-nav-item"><a href="#contacts" class="header-nav-link">Контакты</a></li>
            </ul>
            <div class="header-user">
                <a href="" class="header-login">Войти</a>
            </div>
        </nav>
    </div>
</div>


<section class="main">
    <div class="main-container">
        <div class="main-content">
            <h1>
                Обеспечиваем непрерывность<br>операций и бизнес-процессов
            </h1>
            <div class="main-content-text">
                <ul>
                    <li>Cтабильная работа ваших серверов</li>
		    <li>Оптимизация затрат на IT</li>
<li>Эффективная техподдержка</li>
<li>Надежная IT-инфраструктура для бизнес-задач</li>
                </ul><br>
                <p>
                    <a href="/" class="main-link-more">Подробнее</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <nav class="services-nav">
        <ul class="services-nav-list">
            <li class="services-nav-item"><a href="/" class="services-nav-link">DevOps</a></li>
            <li class="services-nav-item"><a href="/" class="services-nav-link">Техподдержка сайтов и web-инфраструктуры</a></li>
            <li class="services-nav-item"><a href="/" class="services-nav-link">Поддержка Linux серверов</a></li>
            <li class="services-nav-item"><a href="/" class="services-nav-link">HighLoad</a></li>
            <li class="services-nav-item"><a href="/" class="services-nav-link">IP Телефония</a></li>
        </ul>
    </nav>

    <div class="services-container" id="services">
        <h2>Услуги</h2>

        <div class="services-items">
            <div class="services-item">
                <a href="/" class="services-item-link">
                    <h3>Создание IT и web инфраструктуры</h3>
                    <p>Создание инфраструктуры под ваши цели, задачи и трафик.</p>
                </a>
            </div>
            <div class="services-item">
                <a href="/" class="services-item-link">
                    <h3>Эксплуатация и поддержка <br>Linux серверов</h3>
                    <p>
                        Обслуживание, развертывание
                        и управление  IT системами любой сложности. Кластеры, Облака, HighLoad.
                    </p>
                </a>
            </div>
            <div class="services-item">
                <a href="/" class="services-item-link">
                    <h3>IT Ops</h3>
                    <p>
                         Управление ИТ услугами
                    </p>
                </a>
            </div>
            <div class="services-item">
                <a href="/" class="services-item-link">
                    <h3>Облачные сервисы Google Cloud Platform, Amazon AWS, MS Azure</h3>
                    <p>
                        Поддержка инфраструктуры
                        и сервисов в облаках.
                    </p>
                </a>
            </div>
            <div class="services-item">
                <a href="/" class="services-item-link">
                    <h3>SRE Site reliability engineering</h3>
                    <p>
                        Создание сверхмасштабируемых и высоконадежных систем.<br><br>Kubernetes, Docker
                    </p>
                </a>
            </div>
            <div class="services-item">
                <a href="/" class="services-item-link">
                    <h3>DevOps</h3>
                    <p>
                        Выстраивание, отладка
                        и  автоматизация процессов  CI/CD:
                        Continuous Integration и Continuous Delivery.
                    </p>
                </a>
            </div>


        </div>
    </div>
</section>


<section class="how">
    <div class="how-container">
        <h2>Принципы</h2>
        <div class="how-items">
            <a href="/" class="how-item">
                <h3>Безопасность</h3>
                <p>Защита ваших проектов всегда на первом месте. Большой опыт и собственные разработки в области защиты сетей, web-сервисов и данных.
                </p>
                <p><span class="how-item-more">Подробнее</span></p>
            </a>
            <a href="/" class="how-item">
                <h3>Четко выстроенные цепочки управления и контроля</h3>
                <p>
                    Активно используем опыт и практики ITSM
                    и ITIL. Поэтому мы никогда ничего не теряем,
                    не забываем и четко выполняем все сроки
                    и условия обслуживания.
                </p>
                <p><span class="how-item-more">Подробнее</span></p>
            </a>
            <a href="/" class="how-item">
                <h3>Максимальная автоматизация административных задач</h3>
                <p>
                    Чем меньше мы работаем руками, тем меньше стоимость наших услуг для вас. Более 95% регламентных работ по поддержке производится автоматически.
                </p>
                <p><span class="how-item-more">Подробнее</span></p>
            </a>
            <a href="/" class="how-item">
                <h3>Конфиденциальность</h3>
                <p>
                    При необходимости заключаем соглашение о неразглашении до начала обсуждения проектов и задач. А с началом обслуживания, соглашение становятся неотъемлемой частью договора.
                </p>
                <p><span class="how-item-more">Подробнее</span></p>
            </a>
            <a href="/" class="how-item">
                <h3>Мониторинг всего и вся... буквально.</h3>
                <p>
                    Каждый сервер, сервис, узел сети подключается к мониторингу. Мы ведем учет всего, что можно посчитать и измерить. Начиная от температуры  в серверной и заканчивая количеством пользователей на каждом сервере.
                </p>
                <p><span class="how-item-more">Подробнее</span></p>
            </a>
            <a href="/" class="how-item">
                <h3>Многоуровневое резервное копирование</h3>
                <p>
                    20 летний опыт эксплуатации различных сетей, сервисов и систем подсказывает единственно верный способ хранить резервные копии: Принцип 3-2-1.
                </p>
                <p><span class="how-item-more">Подробнее</span></p>
            </a>
        </div>
    </div>
</section>

<section class="get">
    <div class="get-container">
        <h2>Что Вы получаете, работая с нами</h2>
        <div class="get-items">
            <div class="get-item">
                <div class="get-icon"><img src="images/icon-24.svg" alt=""></div>
                <div class="get-text">
                    Непрерывность бизнес-процессов
                </div>
            </div>
            <div class="get-item">
                <div class="get-icon"><img src="images/icon-budget.svg" alt=""></div>
                <div class="get-text">
                    Понятный
                    и прозрачный бюджет
                </div>
            </div>
            <div class="get-item">
                <div class="get-icon"><img src="images/icon-time.svg" alt=""></div>
                <div class="get-text">
                    Минимальное время реакции
                </div>
            </div>
            <div class="get-item">
                <div class="get-icon"><img src="images/icon-list.svg" alt=""></div>
                <div class="get-text">
                    Ответственность
                    исполнителей
                </div>
            </div>
            <div class="get-item">
                <div class="get-icon"><img src="images/icon-people.svg" alt=""></div>
                <div class="get-text">
                    Услуги экспертов
                    по минимальной стоимости
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<section class="who" id="about">
    <div class="who-container">
        <h2>Кто мы</h2>

        <div class="who-video">
            <iframe width="100%" height="450px" src="https://www.youtube.com/embed/tD99WhUKJR4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="who-content">
            <img src="pictures/photo.png" alt="" align="right">
            <h3>Наша команда сосредоточила в себе опыт десятков компаний и сотен успешных проектов.</h3>
            <div class="who-content-text">
                <p>
                    Мы не коммерсанты, не бизнесмены, мы команда профессиональных админов и руководителей проектов с серьезным опытом за плечами.  Мы пришли из разных компаний, таких как Яндекс, Мегафон, Евросеть.
                </p>
                <p>Нас объединяет искренняя любовь к нашему делу и личной <br>свободе, поэтому:</p>

                <ul>
                    <li>У нас нет офиса, в привычном понимании этого слова, поскольку он нам не нужен.</li>
                    <li>Все мы начали карьеру в начале 2000х</li>
                    <li>У нас нет сотрудников младше 35 лет.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
-->

<section class="clients" id="about">
    <div class="clients-container">
        <br><br><br>
        <h2>Наши клиенты</h2>

        <div class="clients-items">
            <div class="clients-item">
                <img src="pictures/company1.png" alt="">
                <div class="clients-item-content">
                    <h3>HARPOON</h3>
                    <div class="clients-item-text">
                        <p>Ведущий российский производитель и поставщик профессионального крепежа.</p>
                        <p>
                            <a href="https://harpoon.pro" target="_blank">harpoon.pro</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company2.png" alt="">
                <div class="clients-item-content">
                    <h3>Компания INTOUCH</h3>
                    <div class="clients-item-text">
                        <p>
                            работает на российском рынке с 2008 года, специализируется на модели прямого страхования — страхования без посредников, осуществляя оформление договора по телефону и через сеть интернет.                        </p>
                        <p>
                            <a href="https://www.in-touch.ru/about/" target="_blank">www.in-touch.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company3.png" alt="">
                <div class="clients-item-content">
                    <h3>Интернет-магазин Связной</h3>
                    <div class="clients-item-text">
                        <p>
                            Федеральная розничная сеть, специализирующаяся на продаже услуг сотовых операторов и провайдеров, портативной цифровой аудио- и фототехники.
                        </p>
                        <p>
                            <a href="https://www.svyaznoy.ru" target="_blank">www.svyaznoy.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company4.png" alt="">
                <div class="clients-item-content">
                    <h3>Игромания</h3>
                    <div class="clients-item-text">
                        <p>
                            Крупнейший российский ежемесячный журнал и сайт, посвящённый компьютерным играм.
                        </p>
                        <p>
                            <a href="https://www.igromania.ru/" target="_blank">www.igromania.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company5.png" alt="">
                <div class="clients-item-content">
                    <h3>Мир Фантастики</h3>
                    <div class="clients-item-text">
                        <p>
                            Ежемесячный российский журнал и сайт о фэнтези и фантастике во всех их проявлениях.
                        </p>
                        <p>
                            <a href="https://www.mirf.ru/" target="_blank">www.mirf.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company7.png" alt="">
                <div class="clients-item-content">
                    <h3>«Ташир»</h3>
                    <div class="clients-item-text">
                        <p>
                             Крупнейшая в России диверсифицированная промышленно-строительная группа федерального масштаба, реализующая свою деятельность по ключевым направлениям в ведущих секторах экономики страны и объединяющая более 200 компаний.
                        </p>
                        <p>
                            <a href="http://www.tashir.ru/about/" target="_blank">www.tashir.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company8.png" alt="">
                <div class="clients-item-content">
                    <h3>Интернет-магазин Fashion-sport.ru</h3>
                    <div class="clients-item-text">
                        <p>
                            Интернет-магазин одежды.
                        </p>
                        <p>
                            <a href="https://www.fashion-sport.ru/" target="_blank">www.fashion-sport.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company9.png" alt="">
                <div class="clients-item-content">
                    <h3>Skadi</h3>
                    <div class="clients-item-text">
                        <p>
Мобильное приложение для горнолыжного отдыха созданное в сотруднечестве с Международной Федерацией Лыжного спорта (FIS), Швейцария</p>
                        <p>
                            <a href="http://www.skadi.guide/" target="_blank">www.skadi.guide</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company10.png" alt="">
                <div class="clients-item-content">
                    <h3>Санрайз Тур</h3>
                    <div class="clients-item-text">
                        <p>
                            Ведущая туристическая компания на российском рынке, которая работает уже более 20 лет.
                        </p>
                        <p>
                            <a href="https://www.sunrise-tour.ru" target="_blank">www.sunrise-tour.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients-item">
                <img src="pictures/company11.png" alt="">
                <div class="clients-item-content">
                    <h3>Народный журналист</h3>
                    <div class="clients-item-text">
                        <p>
                            Политический новостной дайджест.
                        </p>
                        <p>
                            <a href="https://narzur.ru/" target="_blank">narzur.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="reviews">
    <div class="reviews-container">
        <h2>Отзывы</h2>

        <div class="reviews-slider">
            <div>
                <div class="reviews-slide">
                    <div class="reviews-slider-user">
                        <div class="reviews-slider-avatar">
                            <img src="pictures/iorlov3.png" alt="">
                        </div>
                        <br>
                        <p>
                            <span>Иван Орлов</span>
                            Учредитель, Генеральный директор<br>Группа Компаний "Гарпун"
                        </p>
                        <p>
                            <a href="https://harpoon.pro" target="_blank" >harpoon.pro</a>
                        </p>

                    </div>
                    <div class="reviews-slider-content">
                        <h3>С командой Server-Support сотрудничаем более 10 лет.</h3>
                        <p>
У нас была создана распределенная ИТ-инфраструктура на базе Linux, которая работает сама в режиме 24x7 и включает в себя объединенную компьютерную сеть на 9 офисов и производство, находящихся на территории России и Азии. При этом текущей тех.поддержкой пользователей занимаются всего 2(два) наших сотрудника!!!
Только этот факт говорит многое о профессионализме команды, но добавлю еще, что совместно с командой “поддержка серверов” нами была разработана и внедрена автоматизированная система сквозной аналитики по продажам, товарообороту и складскому учету с элементами BIGdata, которая позволила не только сэкономить и оптимизировать логистику и производство, но и посмотреть на бизнес с новых сторон.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="reviews-slide">
                    <div class="reviews-slider-user">
                        <div class="reviews-slider-avatar">
                            <img src="pictures/maznev.jpg" alt="">
                        </div>
                        <br>
                        <p>
                            <span>Валерий Мазнев</span>
                            CEO, MOBILE ANGELS
                        </p>
                        <p>
                            <a href="http://mobangels.com/" target="_blank" >mobangels.com</a>
                        </p>
                            
                    </div>
                    <div class="reviews-slider-content">
                        <h3>Стабильные и надежные ребята!</h3>
                        <p>
                            Вот уже более двух лет приходят нам на помощь в самых разных проектах. Одним из последних была настройка и запуск в эксплуатацию облачной инфраструктуры для мобильного приложения. Все работы были проведены на высшем уровне. Команда Server Support – компетентные и ответственные профессионалы, на которых можно положиться!
                        </p><br><br><br>
                    </div>
                </div>
            </div>
            <div>
                <div class="reviews-slide">
                    <div class="reviews-slider-user">
                        <div class="reviews-slider-avatar">
                            <img src="pictures/isupov2.jpg" alt="">
                        </div>
                        <br>
                        <p>
                            <span>Евгений Исупов</span>
                            Учредитель, Генеральный директор<br>Журнал "Игромания"
                        </p>
                        <p>
                            <a href="https://www.igromania.ru/" target="_blank" >www.igromania.ru</a>
                        </p>

                    </div>
                    <div class="reviews-slider-content">
                        <h3>Компания Server-Support.ru показала себя надёжным партнером,</h3>
                        <p> 
которого отличает отзывчивость, искреннее отношение к работе и погружение в бизнес-процессы компании.<br> 
Благодаря профессионализму команды Server-Support все сайты нашей компании отлично работают и постоянно доступны.<br> 
Отдельно хочется отметить, что ребята всегда готовы подключится к решению нетиповых задач, предоставить экспертную оценку и альтернативу в любых вопросах, где это требуется.

                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="reviews-slide">
                    <div class="reviews-slider-user">
                        <div class="reviews-slider-avatar">
                            <img src="pictures/sereb.jpg" alt="">
                        </div>
                        <br>
                        <p>
                        <span>Сергей Серебрянский</span>
                        главный редактор, Мир Фантастики
                        </p>
                        <p>
                            <a href="https://www.mirf.ru/" target="_blank" >www.mirf.ru</a>
                        </p>

                    </div>
                    <div class="reviews-slider-content">
                        <h3>5 лет работаем с server-support.ru</h3>
                        <p>
                           За это время прошли через многое,была построена собственная сеть раздачи контента, разработана и внедрена система анализа действий пользователей на сайтах с динамической блокировкой нарушителей и ботов и - это лишь малая часть с чем нам помогают сотрудники этой компании. 

                        </p><br><br><br><br>
                    </div>
                </div>
            </div>
            <div>
                <div class="reviews-slide">
                    <div class="reviews-slider-user">
                        <div class="reviews-slider-avatar">
                            <img src="pictures/avatar.png" alt="">
                        </div>
                        <p>
                            <span>Юрий Гагарин</span>
                             хороший человек<br>ГК "Ташир"
                        </p>
                        <p>
                            <a href="http://www.tashir.ru/about/" target="_blank" >www.tashir.ru</a>
                        </p>
                    </div>
                    <div class="reviews-slider-content">
                        <h3>Это было невероятно!</h3>
                        <p>
                            Парни буквально за день создали систему управления серверами через SMS сообщения!<br><br>Рекомендую!<br><br><br><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="price" id="price">
    <div class="services-container">
        <h2>Цены</h2>
        <div class="services-items">

            <div class="services-item">
                <div class="services-item-link">
                    <h3>Разовые работы</h3>
                        <p>Подойдут для разовых задач или если у вас небольшой объем.</br></br>
Если задача в рамках проекта и трудозатраты исчисляются днями, то стоимость оговаривается индивидуально, после ознакомления с вашим целями, проведением нами бесплатного технического аудита и утверждения ТЗ.</br></br>
Стоимость оговаривается во всех случаях до начала работ и не меняется, если не меняются условия задачи/проекта.</br>
</p>

<h2>3 000 ₽<br>за час</h2>
</div>
            </div>
            
            <div class="services-item">
                <div class="services-item-link">
                    <h3>Первичная настройка</h3>
                    Включает:
                    <ul>
                        <li>Анализ ваших текущих целей и задач, формулировку бизнес-требований</li>
                            <li>Разработку архитектуры и ее техническое и экономическое обоснование</li>
                                <li>Настройку операционной системы, служб и ПО</li>
                                    <li>Настройка безопасности</li>
                                        <li>Настройка резервного копирования</li>
                                            <li>Подключение к системе мониторинга</li>

                    </ul><br>
                    <h2>20 000 ₽<br>за сервер</h2>
                </div>
            </div>

            <div class="services-item">
                <div class="services-item-link">
                    <h3>Поддержка серверов</h3>
                    Включает:
                    <ul>
                         <li>Выполнение заявок на обслуживание</li>
                         <li>Мониторинг работоспособности серверов и сервисов</li>
                            <li>Профилактику сбоев</li>
                        <li>Обновление ПО</li>
                            <li>100 Гб удаленных бэкапов</li> 
                        <li>Дополнительные работы 2000 ₽ за час</li>
                    </ul>
<br><br><br>
<h2>10 000 ₽<br>за сервер в месяц</h2>

                    </p>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="contacts" id="contacts">
    <div class="contacts-container">
        <h2>Контакты</h2>
        <div class="contacts-content">
            <div class="contacts-text">
                <div class="contacts-info">
                    <p>
                        <a href="tel:+74950183638" class="contacts-info-phone">8(495)018-36-38</a>
                    </p>
                    <p>
                        <a href="mailto:admins@server-support.ru" class="contacts-info-mail">admins@server-support.ru</a>
                    </p>
                </div>
            </div>
            <div class="contacts-form">
                <h3>Форма обратной связи</h3>
                <form action="" name="{{ form }}" method="post">
                    <label>
                        <input type="text" placeholder=" " name="{{ fields.name }}">
                        <span>Имя</span>
                    </label>
                    <label>
                        <input type="text" placeholder=" " name="{{ fields.phone }}">
                        <span>Ваш номер телефона</span>
                    </label>
                    <label>
                        <textarea type="text" placeholder=" " name="{{ fields.text }}"></textarea>
                        <span>Сообщение</span>
                    </label>
                    <input type="hidden" value="{{ fields.csrf }}" name="{{ fields.token }}">
                    <div class="g-recaptcha" data-sitekey="6Lc6wWYUAAAAAGVClts_18V5anK8XF3frZ80ddPo"></div>
                    <button class="">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-container">
        <p>© 2009—2018 server-support.ru</p>
    </div>
</footer>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="js/script.js"></script>
</body>
</html>